{% extends 'body.html.twig' %}

{% block content %}

    <div class="d-flex justify-content-between">
        <h3 class="mb-3">Cars</h3>
        <form action="{{ path('app_dashboard_car', {id: 'new'}) }}">
            <button class="submit-button"><i class="fa fa-plus"></i></button>
        </form>
    </div>


    <table class="table">
        <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if cars|default %}
            {% for car in cars %}
                <tr>
                    <td style="width: 25%">{% if car.image|default %}<img src="/{{ car.image }}" alt="{{ car.name }}" width="100%">{% else %}No image{% endif %}</td>
                    <td class="align-middle">{{ car.name }}</td>
                    <td class="align-middle">In garage</td>
                    <td class="align-middle"><a href="{{ path('app_dashboard_car', {id: car.id}) }}">View</a> </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>No cars found</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-6">
            <h4>Alle auto's van Rent a Car:</h4>
            {% if cars|default %}
            <form method="post" action="{{ path('app_car_deletecar') }}">
                <ol>
                    {% for car in cars %}
                        <li style="margin-bottom: 5px">{{ car.name }}
                            <button class="delete-obj-button" type="submit" name="id" value="{{ car.id }}"><i
                                        style="color: darkred" class="fa fa-trash"></i>
                            </button>
                            {% if car.image|default %}
                                <img src="{{ car.image }}" alt="carImage" height="60px" width="60px">
                            {% endif %}
                        </li>
                    {% endfor %}
                </ol>
                {% else %}
                    <p>Er zijn momenteel geen auto's van Rent a Car.</p>
                {% endif %}
            </form>
        </div>
        <div class="col-md-6">
            <form method="post" action="{{ path('app_car_uploadcar') }}" enctype="multipart/form-data">
                <h4>Auto toevoegen:</h4>

                <div class="form-group">
                    <label for="carName">Naam:</label>
                    <input id="carName" class="form-control" type="text" name="name" required>
                </div>

                <div class="form-group">
                    <label for="carDescription">Beschrijving:</label>
                    <textarea id="carDescription" class="form-control" type="text"
                              name="description"></textarea>
                </div>

                <div class="form-group">
                    <label for="carColor">Kleur:</label>
                    <input id="carColor" class="form-control" type="text" name="color">
                </div>

                <div class="form-group">
                    <label for="carImage">Foto:</label>
                    <input id="carImage" class="form-control" type="file" name="image">
                </div>
                <img style="margin-bottom: 1rem; display: none" src="" id="previewImg" alt="previewImg" width="100%">

                <input type="hidden" name="type" value="car">

                <div class="form-group">
                    <button type="submit" class="form-control">Opslaan</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        var previewImg = document.getElementById('previewImg');
        var carImageInput = document.getElementById('carImage');

        // To-do check file type
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    previewImg.setAttribute('src', e.target.result);
                    previewImg.style.display = 'block';
                }

                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }

        carImageInput.addEventListener('input', function () {
            readURL(this);
        });
    </script>

{% endblock %}